:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: #000;
  /* background-color: #2f2f2f; */
  background-color: #ffffff;
  --border-color: rgb(166, 174, 184);
  --accent-color: rgb(100, 149, 237);
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: .8125rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out;
}


/* FOOTER */
.footer-container {
  text-align: center;
  font-size: 0.875rem;
  color: var(--border-color);
  margin-top: 2rem;
  padding: 1rem 0 0 0;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header-banner {
  text-align: center;
  padding: .5rem;
  background-image: linear-gradient(180deg, black, black, rgb(33, 33, 33));
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.656);
  color: #2f2f2f;
  font-weight: 500;
  padding: 1.2rem;
  backdrop-filter: blur(2px);
  border-bottom: solid 1px #ddd;
  
}

.header-nav-logo {
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.header-nav-links {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
}

.header-nav-link_item {
  padding: .3rem .4rem;
  color: black;
}

.header-nav-link_item:hover {
  background-color: #d9d9de7e;
  color: black;
  border-radius: 5px;
}

.header-nav-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.header-nav-link_item_fancy {
  padding: .4rem 1rem;
  color: #ffffff;
  background-image: linear-gradient(180deg, #161616, #161616, #000);;
  border-radius: 5px;
}

.header-nav-link_item_fancy:hover {
  background-image: linear-gradient(180deg, #161616, #161616, #202020);
}

.header-nav-login {
  width: 20%;
}

/* HOME */
.homepage {
  background-color: #fff;
  height: 100svh;
}