:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: rgb(246, 246, 231);
  background-color: rgb(47, 47, 47);
  --border-color: rgb(166, 174, 184);
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  padding: 1rem;
  border: solid 1px var(--border-color);
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out;
}

a:hover {
  opacity: 0.7;
}
