:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: rgb(246, 246, 231);
  background-color: #2f2f2f;
  --border-color: rgb(166, 174, 184);
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.container {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out;
}

a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
}
