services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile.server
    container_name: chatbot_server
    ports:
      - "5400:5400"
    environment:
      - VITE_SERVER_PORT=5400
      - VITE_CLERK_PUBLISHABLE_KEY=${VITE_CLERK_PUBLISHABLE_KEY}
      - VITE_CLERK_SECRET=${VITE_CLERK_SECRET}
      - VITE_SQL_USER=${VITE_SQL_USER}
      - VITE_SQL_PASSWD=${VITE_SQL_PASSWD}
      - VITE_SQL_DB=${VITE_SQL_DB}
      - VITE_DB_HOST=${VITE_DB_HOST}
      - VITE_DB_PORT=${VITE_DB_PORT}
    restart: always
    command: >
      sh -c "node server.js"
