:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: antiquewhite;
  border-radius: 5px;
  min-height: 100svh;
}
.settings-container a, .settings-container-sub a {
  color: white;
  border: 2px solid var(--border-color);
  background-color: var(--accent-color);
  text-decoration: none;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
}
.settings-container-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 900px;
}

.settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  gap: 2rem;
}
.reg-header {
  font-size: 2rem;
}
.settings-para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--text-color);
}
.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  border: solid 1px var(--border-color);
  border-radius: 3px;
}

.settings-form button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(246, 246, 231);
  background-color: rgb(46, 163, 67);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out;
}
.settings-form button[type="submit"]:hover {
  background-color: var(--accent-color);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group input,
.form-group select,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  color: rgb(246, 246, 231);
}
.form-group textarea {
  resize: vertical;
  min-height: 100px;
}
.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-group .error-message {
  color: rgb(255, 99, 71);
  font-size: 0.875rem;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--border-color);
}

.form-group input[type="color"] {
  padding: 0;
  height: 40px;
  width: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-group input[type="color"]:focus {
  outline: none;
  border: solid 2px rgb(100, 149, 237);
}

.settings-form-row-col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settings-form-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .settings-header {
    justify-content: flex-start;
    gap: 1rem;
  }
  .settings-form {
    padding: 2rem;
  }
  .reg-header {
    justify-content: center;
    text-align: center;
  }
  .settings-form-row-col {
    flex-direction: row;
  }
}

